<div class="character-cards" *ngIf="characters.length > 0">
  <div class="card" *ngFor="let character of characters">
    <img [src]="character.image" alt="{{ character.name }}">
    <h3>{{ character.name }}</h3>
    <p>{{ character.species }}</p>
    <a [routerLink]="['/characters', character.id]">Ver detalhes</a>
  </div>
</div>

<!-- Mensagem ao final -->
<div *ngIf="!hasMore && characters.length > 0" class="no-more">
  Todos os personagens foram carregados.
</div>
<div *ngIf="loading" class="loading">
  Carregando mais personagens...
</div>
